<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/bootstrap.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/signin.css">

<body>
    <div class="container-fluid">
        <div id="head" class="row text-center">
            <div style="margin: auto;">
                <h3>{% block head %}{% endblock %}</h3>
            </div>
        </div>
        <div id="content" class="row text-center">
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="row">
            <p class="mt-5 mb-3 text-muted" style="margin: auto;">&copy; This area is footers.</p>
        </div>
    </div>
</body>

</html>