<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    
</style>
{% extends "base.html" %}
{% block head %}
登入功能(繼承base.html)
{% endblock %}
{% block content %}
<form action="/login" method="post" class="form-signin">
    <h3 class="col font-weight-normal">Please sign in</h3>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <div style="margin-top: 10px;" class="checkbox col">
        <label>
            <input type="checkbox" name="remember-me" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p> -->
</form>
{% endblock %}