{% extends "base.html" %}
{% block head %}
註冊功能(繼承base.html)
{% endblock %}
{% block content %}
<form action="/register?v=1.0" method="post" class="form-signin">
    <label for="username" class="sr-only">用戶名</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="請輸入用戶名" required autofocus>
    <label for="password" class="sr-only">密碼</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼" required>
    <label for="pw_confirmation" class="sr-only">請確認密碼</label>
    <input type="password" id="pw_confirmation" class="form-control" placeholder="請再次輸入密碼" required>
    <label for="email" class="sr-only">Email</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="請輸入Email" required>
    <div class="row" style="margin: 10px auto 0px;">
        <button class="btn btn-primary btn-block col-5" type="submit">提交</button>
        <div class="col-2"></div>
        <button class="btn btn-danger btn-block col-5" type="reset">重製</button>
    </div>
</form>
{% endblock %}